@charset "utf-8";

:root {
    --color-black: #222;
    --color-white: #fff;
    --color-blue:#87b1c5;

    /*↓重要！*/
    /* 1120px以上 PC固定レイアウト:  1/16 =  .0625 (1px = 0.0625rem) */
    --fs-per: .0625;
    /* 1120pxより狭い PCリキッドレイアウト:  1/1120*100vw =  .0892vw */
    --fs-vw: .0892;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    color: var(--color-black);
    font-family: "游ゴシック体",
        YuGothic,
        "游ゴシック",
        "Yu Gothic",
        "メイリオ",
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        sans-serif;
    font-weight: normal;
    font-style: normal;

    width: 100%;
    font-size: min(var(--fs-vw)*1vw, var(--fs-per)*1rem);
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 16rem;
    line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img{
  display: block;
  max-width: 100%;
}
@media screen and (max-width: 767.9px) {
    :root {
        /* 768pxより狭い SPリキッドレイアウト:  1/375*100vw= .2667vw */
        --fs-vw: .2667;
    }

    html {
        font-size: calc(var(--fs-vw)*1vw);
    }
  }

/*インナー幅*/
.inner {
  width:100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 30rem;
  box-sizing: border-box;
}


/* ヘッダー */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--color-blue);
  color: var(--color-black);
}
.site-header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10rem 30rem;
}
@media (max-width: 768px) {
.site-header__inner{
  padding:30rem;
}
  }
/*ロゴ*/
.logo {
  height: 70rem;
}
.logo img{
      height: 100%;
}
/*ナビ*/
.nav {
  display: block;
}

.nav-list {
  display: flex;
  gap: 40rem;
}

.nav-list a {
  color: var(--color-white);
  font-weight: bold;
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
  font-size: 18rem;
}
.nav-list a:hover {
  opacity: .7;
}
@media (max-width: 768px) {
  .logo {
  height: 90rem;
}
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: var(--color-blue);
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 1000;
    padding:150rem 100rem 100rem;;
  }
  .nav-list {
    flex-direction: column;
    padding: 1rem;
  }
  .nav-list a {
    display: block;
    width:100%;
    font-size: 60rem;
    padding: 20rem 0;
  }
  .nav.active {
    transform: translateX(0);
  }
  }
/*見出し*/
.first-heading{
  margin-bottom:20rem;
  line-height: 1.6;
  font-size: 48rem;
  }
.second-heading {
    font-size: 28rem;
    font-weight: bold;
    margin: 20px 0 40px;
    border-bottom: 2px solid #F44336;
    display: inline-block;
    padding-bottom: 2px;
  }
@media (max-width: 768px) {
.first-heading{
  font-size: 70rem;
  }
.second-heading {
  font-size:50rem;
  margin:20px 0 30px;
  }

}

/* ハンバーガーボタン */
.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    position: relative;
    display: block;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  background: #fff;
  height: 3px;
  border-radius: 2px;
  transition: 0.4s;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
.hamburger::before {
  top: -8px;
  transform-origin: top left; 
}
.hamburger::after {
  top: 8px;
  transform-origin: bottom left;
}
/* ========== クリック後（.active追加後） ========== */
.hamburger.active {
  background: transparent; 
}

.hamburger.active::before {
  transform: rotate(45deg);
}

.hamburger.active::after {
  transform: rotate(-45deg);
}
}


/*slickここまで*/
.slick-slide img{
  display:block;
  width:100%;
  margin:0 auto;
  height:600px;
  object-fit:cover;
}
.slick-prev:before, .slick-next:before {
  color: #fff;
  font-size:28rem;
  font-weight: bold;
}
.slick-next:before {
  content: "";
  display: inline-block;
  width: 42rem; 
  height: 42rem; 
  border-right: 3rem solid #fff;
  border-bottom: 3rem solid #fff;
  transform: rotate(-45deg);
  margin-left: 5rem; 
}
.slick-prev:before {
  content: "";
  display: inline-block;
  width: 42rem;
  height: 42rem;
  border-left: 3rem solid #fff;
  border-top: 3rem solid #fff;
  transform: rotate(-45deg);
  margin-right: 5rem;
}
@media (max-width: 768px) {
  .slick-next:before {
  content: none;
}
.slick-prev:before {
  content:none;
}
  }

.slick-prev{
  left:100rem;
  z-index: 1;
}
.slick-next{
  right:100rem;
  z-index: 1;
}

/* デフォルトのドットを消す */
.slick-dots li button:before {
  content: none;
}

/* ドットの基本スタイル（白丸） */
.slick-dots li button {
  width: 12px;          /* 丸のサイズ */
  height: 12px;
  border-radius: 50%;   /* 丸にする */
  background: #fff;     /* 白 */
  border: none;
  padding: 0;
  cursor: pointer;
}
.slick-dots {
    bottom: 64px;
  }

/* アクティブなドット（グレー） */
.slick-dots li.slick-active button {
  background: #888;     /* グレー */
}
@media (max-width: 768px) {
.slick-slide img{
  height:400px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0; 
}
}


/*slider*/
.slider-wrapper{
  position: relative;
  width: 100%;
}


.slider-catch{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color:#fff;
  z-index: 1;
}

.introduction{
  color:#fff;
  text-align: center;
  width:70%;
}
.introduction p{
  font-size: 16rem;
}

.introduction .sub-ttl{
  display: block;
  font-size:20rem;
}
@media (max-width: 768px) {
.introduction{
  width:90%;
}
.introduction p{
  font-size: 30rem;
}

.introduction .sub-ttl{
  display: block;
  font-size:36rem;
}

  }


/*制作実績*/
.past-works__lists{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:2%;
}
.past-works__list{
  width: 48%;
  margin-bottom: 50px;
}
.past-works__ttl{
  font-size:24rem;
  font-weight: bold;
  margin:20rem 0;
  display: flex;
  align-items: center;
}
.past-works__txt{
  font-size:16rem;
  }
/*タグ*/
.tag{
  display: inline-block;
  border-radius: 5px;
  color:var(--color-white);
  font-weight: bold;
  font-size: 14rem;
  padding:5rem 10rem;
  text-align: center;
  margin-right:10px;
}
.blue{
    background:var(--color-blue);
}
.h2-contents{
  display: flex;
  align-items: center;
}
.h2-contents .second-heading{
  width: 4.2em;
}
@media (max-width: 768px) {
.past-works__lists{
  flex-direction: column;
}
.past-works__list{
  width: 100%;
  margin-bottom: 50px;
}
.past-works__ttl{
  font-size:32rem;
  margin: 40rem 0 20rem;
}
.past-works__txt{
  font-size:18rem;
  }
/*タグ*/
.tag{
  font-size: 24rem;
  line-height: 2;
}
  }
/*スキル*/
.skill__lists{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:2%;
}
.skill__list{
  width: 48%;
  margin-bottom: 40px;
  display: flex;
  gap:20px;
}
.skill__read{
  
}
.skill__ttl{
  font-size:24rem;
  font-weight: bold;
  margin-bottom:10px;
}
.skill__txt{
  font-size: 16rem;

}
.level{
  padding-left:1em;
  color:#ffc107;
}
.attention{
  font-size:14rem;
  font-weight: bold;
  padding-left:2em;
  display: inline-block;
  width: 85%;
}
@media (max-width: 768px) {
.skill__lists{
  flex-direction: column;
  gap:2%;
}
.skill__list{
  width: 100%;
}
.skill__ttl{
  font-size:32rem;
}
.skill__txt{
  font-size: 18rem;

}
.attention{
  font-size:18rem;
}

  }
/*自己紹介*/
.about-me__contents{
  display: flex;
  justify-content: space-between;
}
.about-me__img{
  width:20%;
}
.about-me__txt {
  position: relative;
  display: inline-block;
  width:80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  padding: 50rem;
  border: 4px solid #999;
  border-radius: 100px;
  background-color: #fff;
  text-align: left;
  font-size: 16rem;
  font-weight: 400;
  color: #000;
  font-family: "Noto Sans", sans-serif;
}

.about-me__txt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #999999 transparent transparent;
  translate: -100% -50%;
}

.about-me__txt::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 10.3px 10.3px 0;
  border-color: transparent #ffffff transparent transparent;
  translate: -100% calc(-50% - 0.8px);
}
@media (max-width: 768px) {
.about-me__contents{
  flex-direction: column;
}
.about-me__img{
  width:30%;
  margin:0 auto 50rem;
}
.about-me__txt {
  border: 2px solid #999999;
  width:100%;
  border-radius: 25px;
  margin:0 auto;
  font-size:20rem;
  padding:30rem;
}

.about-me__txt::before {
  top: 0;
  left: 50%;
  border-width: 0 10px 10px 0;
  border-color: transparent transparent #999999;
  translate: -50% -100%;
}

.about-me__txt::after {
  top: 0;
  left: 50%;
  border-width: 0 5px 5px 0;
  border-color: transparent transparent #ffffff;
  translate: calc(-50% - 0.4px) -100%;
}

  }


/* フッター */
.site-footer {
  text-align: center;
  background:var(--color-blue);
  color: var(--color-white);
  font-size: 12rem;
  margin-top: 40rem;
  padding:20rem 0;
}
@media (max-width: 768px) {
  .site-footer {
  font-size: 14rem;
}

  }


